pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
*class
/.lein-*
/.nrepl-port
.DS_Store
/script/
/repl
/resources/public/examples/basic/out
/resources/public/examples/basic/main.js
om-ace.iml
.idea
